.exit-button.svelte-18vi61m{position:absolute;left:50%;transform:translateY(-50%);bottom:4rem;z-index:10}footer.svelte-18vi61m{position:fixed;width:100%;bottom:10px;text-align:center;font-weight:700}
